<!-- app/views/list/new.html.erb -->
<h1>Create a New List!</h1>
<%= simple_form_for(@list) do |f| %>
  <%= f.text_field :name, label: "name of list"%>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>

<%= link_to "Back to My Lists", lists_path%>
