<!-- app/views/list/show.html.erb -->
<div class="banner b-show d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= url_for @list.photo %>')">
  <div class="container">
    <h1><%= @list.name %></h1>
    <p>My favorites <%= @list.name %> movies</p>
  </div>
</div>
<h2><%= @list.name %></h2>
<% @list.movies.each do |movie| %>
  <%= image_tag movie.poster_url, width: "100px" %>
  <%= movie.title %>
  <div>
    <% movie.bookmarks.each do |element| %>
      <%= element.comment %>
    <% end %>
  </div>
<% end %>
<%= link_to "< back", lists_path%>
| <%= link_to " Add review", new_list_bookmark_path(@list)%>
